{% extends "base.html" %}
{% block content %}

{% if request.user.is_authenticated %}
    <a href="{% url 'appointment-create-page' %}" class="btn btn-success">Create Appointment</a>
{% endif %}
<br>
<br>
<br>
<h4>Your appointments:</h4>
<br>
<ul>
    {% for appointment in appointments %}
    <li>
        <strong>Pet:</strong>
        <a href="{% url 'pet-detail-page' appointment.pet.id %}">{{appointment.pet}}</a>
        <br>
        <strong>Date:</strong>
        {{appointment.date_of_appointment}}
        <br>
        <span>
        <strong>Instructions:</strong>
        {{appointment.special_instructions}}
        </span>
    </li>
    <br>
    {% endfor %}
</ul>

{% endblock %}